/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;900&family=Fraunces:wght@700;900&display=swap');

:root {
    /*Colors*/
    --SoftRed: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --YellowLight:  #fef3bd;
    --DarkDesaturatedCyan: hsl(167, 40%, 24%);
    --DarkBlue : hsl(198, 62%, 26%);
    --DarkModerateCyan: hsl(168, 34%, 41%);

    --VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --VeryDarkGrayishBlue: hsl(213, 9%, 39%);
    --DarkGrayishBlue: hsl(232, 10%, 55%);
    --GrayishBlue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

body,html{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      font-size: 18px;
}


header{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}


header >h1{
   align-self: center;
   font-family: 'Fraunces',serif;
   font-weight: 900;
   letter-spacing: 0.186em;
   color : var(--White);
   font-size: 3em;
   margin-top: 5%;
}

header img.arrowIcon{
    align-self: center;
    margin: 6%;
    width: 2.5%;
    animation-duration: 3s;
    animation-name: arrowIcon;
    animation-iteration-count: infinite;
}

@keyframes  arrowIcon {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(25%);
}

}
nav{
    display : flex;
    justify-content: space-between;
    color: var(--White);
}

nav h1{
    font-family: 'Barlow', sans-serif;
    font-size: 2em;
    font-weight:900;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav li{
    list-style: none;
    margin: 20px;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    color: var(--White);
    font-family: 'Barlow',sans-serif;
    font-size: 1rem;
}

nav a.contact{
    padding: 18px;
    padding-left: 30px ;
    padding-right: 30px;
    background-color: var(--White);
    color: black;
    border-radius: 60px;
    font-size: 0.8rem;
    font-family: 'Fraunces',serif;
}


/* Desktop*/

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article{
    width: 100%;
    display: flex;
    flex-direction: column;
}

article section{
    width: 50%;
    display: flex;
    flex-direction: column;
}
article section h1{
    font-family: 'Fraunces', serif;
    color: var(--VeryDarkDesaturatedBlue);
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
    margin-left: 23%;
    margin-right: 16%;
    margin-bottom: 5%;
}
article section p {
    font-family: 'Barlow', sans-serif;
    color: var(--DarkGrayishBlue);
    font-size: 0.9rem;
    margin: 0;
    margin-left: 23%;
    margin-right: 16%;
    line-height: 30px;
}
article section a{
    margin-top: 5%;
    font-family: 'Fraunces', serif;
    font-size: 0.9em;
    font-weight: 900;
    margin-left: 23%;
    text-decoration: none;
    color: var(--VeryDarkDesaturatedBlue);
}


article.transform{
    justify-content: center;
    height: 600px;
    background: url(../images/desktop/image-transform.jpg) no-repeat;
    background-size: 50% 100%;
    background-position: right;
}

article.stand{
    align-items: flex-end;
    justify-content: center;
    height: 600px;
    background: url(../images/desktop/image-stand-out.jpg) no-repeat;
    background-size: 50% 100% ;
}

article.graphic{
    color: var(--DarkDesaturatedCyan);
    align-items: center;
    justify-content: flex-end;
    width:50%; 
    height: 600px;
    background: url(../images/desktop/image-graphic-design.jpg); 
}

article.graphic h1{
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Fraunces',serif;
}


article.graphic p{
    line-height: 25px;
    font-family: 'Barlow',sans-serif;
    font-size: 0.8rem;
    font-weight:600;
    width: 50%;
    text-align: center;
    margin-bottom: 10%;
}

article.photography{
    color: var(--DarkBlue);
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 600px;
    background: url(../images/desktop/image-photography.jpg);
}
article.photography h1{
    font-size: 1.6rem;
    font-weight: 900;
    font-family: 'Fraunces',serif;
}


article.photography p{
    line-height: 25px;
    font-family: 'Barlow',sans-serif;
    font-size: 0.8rem;
    font-weight:600;
    width: 50%;
    text-align: center;
    margin-bottom: 10%;
}

@media(min-width:375px){
    header{
        padding: 1%;
        min-height: 750px;
        background: url(../images/desktop/image-header.jpg) no-repeat;
        background-size: 100% 100%;
    }
}




/*Movil*/

@media (max-width:375px) {
    
    header{
        background:url(../images/mobile/image-header.jpg) ;
        background-size: 100% 100%;
    }
    header>h1{
        align-self: center;
        font-size: 2rem;
    }
    
    article section{
        width: 100%;
        height: 60%;
    }
    article.transform{
        height: 100vh;
        background: url(../images/mobile/image-transform.jpg) no-repeat;
        background-size: 100% 50%;
        justify-content: flex-end;
    }

    article.stand{
        height: 100vh;
        background: url(../images/mobile/image-stand-out.jpg) no-repeat;
        width: 100%;
        background-size: 100% 40%;
        justify-content: flex-end;
    }
    
    article.graphic{
        height: 100vh;
        background: url(../images/mobile/image-graphic-design.jpg) no-repeat;
        width: 100%;
        background-size: 100% 100%;
    }

    article.photography{
        height: 100vh;
        background: url(../images/mobile/image-photography.jpg) no-repeat;
        width:100%;
        background-size: 100% 100%;
    }

}
